
body {
    background-color: lightgray;
    font-family: 'DM', serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#title {
    font-size: 60px;
    color: lightgray;
    background-color: #003049;
    padding: 10px;
    text-align: center;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; 
}

#search-area {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    
}

#city-search {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

#search-btn {
    font-size: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
}


#weather {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:20px;
}

#current-weather {
    font-size: 20px;
    margin-bottom: 20px;
    border-style:double;
    margin:10px;
    background-color: #003049;
    color:lightgray;
}
#forecast{
    border-style: double;
    margin:20px;
    background-color: #003049;
}

#forecast h3 {
    color:lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    margin:5px;
   
}
#forecast img{
    background-color: #003049;
    padding-left:120px;
    padding-right:120px;
    size:100px;

}

#saved-city {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    margin:20px;
    border-radius:30px;
}


